.project-card
{

    width: 250px;
    height: 300px;

    border: 1px black solid;

    margin: 10px 20px;

    .project-card-container 
    {
        margin: 10px;

        height: calc(100% - 20px);
    }

}