.projects-container
{

    overflow: scroll;

    height: 100%;

    .title
    {
        font-size: 28px;
        text-align: center;
        margin-top: 20px;
    }

    .projects
    {
        margin-top: 20px;
        
        display: flex;
        justify-content: center;
        align-items: center;
       
        .cards
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            width: 90%;
        }

    }

}